@import '../../global.scss';

.contact{
    background-color: white;
    display: flex;

    @include mobile{
        flex-direction: column;
    }

    .left{
        flex: 1;
        overflow: hidden;

        img{
            height: 100%;

            @include mobile{
                width: 100%;
            }
        }
    }

    .right{
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .contactForm{
            width: 100%;
            height: 70%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            h2{
                font-size: 30px;
            }
    
            form{
                width: 70%;
                height: 70%;
                display:flex;
                flex-direction: column;
                align-items: center;
                justify-content: space-around;
    
                input{
                    width: 70%;
                    height: 30px;
                    font-size: 14px;
    
                    @include mobile{
                        height: 20px;
                        margin-bottom: 5px;
                    }
                }
    
                textarea{
                    width: 70%;
                    height: 200px;
                    font-size: 14px;
    
                    @include mobile{
                        height: 100px;
                        margin-bottom: 5px;
                    }
                }
    
                button{
                    width: 35%;
                    height: 30px;
                    color: white;
                    background-color: crimson;
                    border: none;
                    border-radius: 10px;
                    font-weight: 500;
                    cursor: pointer;
    
                    &:focus{
                        outline: none;
                    }
                }
    
                span{
                    color: green;   
                }
            }
        }

        .socials{
            height: 30%;
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            h2{
                font-size: 30px;

                @include mobile{
                    font-size: 20px;
                }
            }

            .logos{
                display: flex;
                margin-top: 20px;
                width: 200px;
                justify-content: space-between;

                @include mobile{
                    width: 180px;
                }
                

                .linkedin{
                    height: 60px;
                    width: 60px;
                    color: black;

                    @include mobile{
                        width: 50px;
                        height: 50px;
                    }

                    &:hover{
                        color: #0e76a8;
                        transition: all 0.5s ease;
                        transform: scale(0.9);
                    }
                }

                .github{
                    height: 55px;
                    width: 55px;
                    color: black;

                    @include mobile{
                        width: 45px;
                        height: 45px;
                    }

                    &:hover{
                        color: rgb(90, 90, 90);
                        transition: all 0.5s ease;
                        transform: scale(0.9);                        
                    }
                }

                .instagram{
                    height: 60px;
                    width: 60px;
                    color: black;

                    @include mobile{
                        width: 50px;
                        height: 50px;
                    }

                    &:hover{
                        color: #C13584;
                        transition: all 0.5s ease;
                        transform: scale(0.9);
                    }
                }
                
            }

            
        }
    }
}